<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">



</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <div style="width: 100%; height: 100%; position: relative; background: white">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
        <div style="width: 2253px; height: 1008px; left: -103px; top: 98px; position: absolute; background: #A7B3BF; border-radius: 60px"></div>
        <div style="width: 2148px; height: 0px; left: 0px; top: 97px; position: absolute; border: 2px black solid"></div>
        <div style="width: 279px; height: 33px; left: 119px; top: 31px; position: absolute; color: black; font-size: 30px; font-family: Impact; font-weight: 400; word-wrap: break-word">Way To Globe</div>
        <div style="width: 130px; height: 33px; left: 465px; top: 28px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 130px; height: 33px; text-align: center; color: black; font-size: 30px; font-family: Inder; font-weight: 400; word-wrap: break-word">Home</div>
        </div>
        <div style="width: 269px; height: 33px; left: 815px; top: 28px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 269px; height: 33px; text-align: center; color: black; font-size: 30px; font-family: Inder; font-weight: 400; word-wrap: break-word">Search Flight</div>
        </div>
        <div style="width: 295px; height: 304px; left: 1658px; top: 17px; position: absolute">
            <div style="width: 245px; height: 60px; left: 50px; top: 0px; position: absolute">
                <div style="width: 229px; height: 33px; left: 16px; top: 8px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inder; font-weight: 400; word-wrap: break-word">Settings</div>
                <div style="width: 60px; height: 60px; left: 0px; top: 0px; position: absolute; background: black"></div>
            </div>
            <div style="width: 277px; height: 227px; left: 0px; top: 77px; position: absolute; opacity: 0">
                <div style="width: 261.84px; height: 227px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                <div style="width: 242.63px; height: 33px; left: 34.37px; top: 33px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inder; font-weight: 400; word-wrap: break-word">My Account</div>
                <div style="width: 242.63px; height: 40px; left: 12.13px; top: 149px; position: absolute">
                    <div style="width: 242.63px; height: 33px; left: 0px; top: 0px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inder; font-weight: 400; word-wrap: break-word">Log Out</div>
                    <div style="width: 40.44px; height: 40px; padding-left: 5.05px; padding-right: 5.05px; padding-top: 5px; padding-bottom: 5px; left: 14.15px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                        <div style="width: 30.33px; height: 30px; background: black"></div>
                    </div>
                </div>
                <div style="width: 242.63px; height: 40px; left: 1.01px; top: 93px; position: absolute">
                    <div style="width: 242.63px; height: 33px; left: 0px; top: 0px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inder; font-weight: 400; word-wrap: break-word">Theme</div>
                    <div style="width: 40.44px; height: 40px; left: 24.26px; top: 0px; position: absolute; background: black"></div>
                </div>
                <div style="width: 40.44px; height: 40px; left: 26.28px; top: 29px; position: absolute; background: black"></div>
            </div>
        </div>
        <div style="width: 220px; height: 33px; left: 598px; top: 28px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 220px; height: 33px; text-align: center; color: black; font-size: 30px; font-family: Inder; font-weight: 400; word-wrap: break-word">Search Place</div>
        </div>
        <div style="width: 151px; height: 33px; left: 1269px; top: 25px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 151px; height: 33px; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 151px; height: 33px; text-align: center; color: black; font-size: 30px; font-family: Inder; font-weight: 400; word-wrap: break-word">About Us</div>
            </div>
        </div>
        <div style="width: 240px; height: 33px; left: 1040px; top: 25px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 240px; height: 33px; text-align: center; color: black; font-size: 30px; font-family: Inder; font-weight: 400; word-wrap: break-word">Search Car</div>
        </div>
        <div style="width: 81px; height: 72px; left: 20px; top: 11px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
        <div style="width: 92px; height: 24px; left: 14px; top: 34px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Imprima; font-weight: 400; word-wrap: break-word">Logo</div>
        <div style="width: 24px; height: 24px; left: 684px; top: 339px; position: absolute"></div>
        <div style="width: 881px; height: 670px; left: 964px; top: 372px; position: absolute; opacity: 0.40; background: rgba(0, 0, 0, 0.70); border-radius: 60px"></div>
        <div style="width: 890px; height: 168px; left: 515px; top: 157px; position: absolute; background: rgba(5, 32, 60, 0.80); border-radius: 84px"></div>
        <div style="width: 780px; height: 148px; left: 568px; top: 179px; position: absolute; text-align: center; color: white; font-size: 90px; font-family: Almendra SC; font-weight: 400; word-wrap: break-word">Good Evening!</div>
        <div style="width: 431px; height: 67px; left: 1166px; top: 372px; position: absolute; text-align: center; color: black; font-size: 50px; font-family: Inder; font-weight: 400; letter-spacing: 2px; word-wrap: break-word">WE RECOMMEND</div>
        <div style="width: 1920px; height: 101px; left: -2px; top: -6px; position: absolute; background: rgba(108.44, 112.29, 122.19, 0.30); border: 1px rgba(0, 0, 0, 0.10) solid"></div>
        <div style="width: 752px; height: 425px; left: 173px; top: 372px; position: absolute; opacity: 0.40; background: rgba(26.18, 26.24, 27.82, 0.70); border-radius: 60px"></div>
        <div style="width: 717px; height: 324px; left: 208px; top: 410px; position: absolute">
            <img style="width: 366px; height: 324px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/366x324" />
            <div style="width: 386px; height: 119px; left: 331px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 386px; height: 119px"><span style="color: black; font-size: 90px; font-family: Inder; font-weight: 400; word-wrap: break-word">8</span><span style="color: #EBB700; font-size: 90px; font-family: Inder; font-weight: 400; word-wrap: break-word">:</span><span style="color: black; font-size: 90px; font-family: Inder; font-weight: 400; word-wrap: break-word">57 </span><span style="color: #EBB700; font-size: 90px; font-family: Inder; font-weight: 400; word-wrap: break-word">pm</span></div>
            </div>
            <div style="width: 299px; height: 187px; left: 351px; top: 119px; position: absolute"><span style="color: black; font-size: 50px; font-family: Inder; font-weight: 400; word-wrap: break-word">17 May </span><span style="color: #EBB700; font-size: 50px; font-family: Inder; font-weight: 400; word-wrap: break-word">2018<br/>Thursday</span></div>
        </div>
        <div style="width: 69px; height: 72px; left: 0px; top: 97px; position: absolute">
            <div style="width: 46px; height: 36px; left: 23px; top: 36px; position: absolute; background: black"></div>
        </div>
        <div style="width: 843px; height: 585px; left: 987px; top: 439px; position: absolute">
            <div style="width: 843px; height: 585px; left: 0px; top: 0px; position: absolute; background: #05203C; border-radius: 86px"></div>
            <img style="width: 810px; height: 449px; left: 17px; top: 115px; position: absolute; border-radius: 124px" src="https://via.placeholder.com/810x449" />
            <div style="width: 766px; height: 45px; left: 56px; top: 56px; position: absolute; color: white; font-size: 50px; font-family: Inconsolata; font-weight: 700; word-wrap: break-word">Oceania Resort   $5000/night</div>
        </div>
    </div>
</body>
</html>