<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document2.2</title>
</head>
<div style="width: 1920px; height: 1080px; position: relative">
    <div style="width: 1442.94px; height: 920.90px; left: 224px; top: 145px; position: absolute; background: #05203C; border-radius: 20px"></div>
    <div style="left: 624px; top: 528px; position: absolute; color: white; font-size: 64px; font-family: Inter; font-weight: 600; word-wrap: break-word">Processing Request...</div>
    <div style="width: 1884.66px; height: 107.47px; left: 0px; top: 0px; position: absolute; background: rgba(108, 112, 122, 0.30)"></div>
    <div style="width: 337.67px; height: 72.70px; left: 789.20px; top: 179.12px; position: absolute; text-align: center; color: white; font-size: 36px; font-family: Inter; font-weight: 600; text-transform: capitalize; word-wrap: break-word">Search For Place</div>
    <div style="width: 45.15px; height: 37.93px; left: 35.34px; top: 132.76px; position: absolute; background: black"></div>
    <div style="width: 1884.69px; height: 0px; left: 2.94px; top: 107.47px; position: absolute; border: 2px black solid"></div>
    <div style="width: 224.79px; height: 34.77px; left: 1695.21px; top: 34.77px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inder; font-weight: 400; word-wrap: break-word">Settings</div>
    <div style="width: 273.87px; height: 34.77px; left: 119.75px; top: 37.93px; position: absolute; color: black; font-size: 30px; font-family: Impact; font-weight: 400; word-wrap: break-word">Way To Globe</div>
    <div style="width: 127.61px; height: 34.77px; left: 459.39px; top: 34.77px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inder; font-weight: 400; word-wrap: break-word">Home</div>
    <div style="width: 264.05px; height: 34.77px; left: 802.94px; top: 34.77px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inder; font-weight: 400; word-wrap: break-word">Search Flight</div>
    <div style="width: 215.95px; height: 34.77px; left: 589.94px; top: 34.77px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inder; font-weight: 400; word-wrap: break-word">Search Place</div>
    <div style="width: 215.95px; height: 34.77px; left: 1215.21px; top: 31.61px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inder; font-weight: 400; word-wrap: break-word">About Us</div>
    <div style="width: 235.58px; height: 34.77px; left: 1023.80px; top: 31.61px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inder; font-weight: 400; word-wrap: break-word">Search Car</div>
    <div style="width: 79.51px; height: 75.86px; left: 22.58px; top: 16.86px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
    <div style="width: 90.31px; height: 25.29px; left: 16.69px; top: 41.09px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Imprima; font-weight: 400; word-wrap: break-word">Logo</div>
    <div style="width: 58.90px; height: 57.95px; left: 1679.51px; top: 26.34px; position: absolute; background: black"></div>
  </div>