<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: white">
        <div style="width: 990px; height: 1135px; left: 0px; top: 0px; right: px; position: absolute">
            <div style="width: 991px; height: 1135px; left: 1161px; top: 0px; position: absolute; background: #05203C"></div>
            <div style="width: 1161px; height: 1135px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
            <div style="width: 408px; height: 412px; left: 1336px; top: 306px; position: absolute">
                <div style="width: 408px; height: 157px; left: 150px; top: 0px; position: absolute; text-align: center; color: white; font-size: 50px; font-family: Inter; font-weight: 700; word-wrap: break-word">Already have an account?</div>
                <div style="width: 401px; height: 200px; left: 150px; top: 180px; position: absolute; text-align: center; color: white; font-size: 27px; font-family: Inter; font-weight: 500; word-wrap: break-word">Login again and discover a great amount of new opportunities!</div>
                <div style="width: 330px; height: 67px; left: 170px; top: 345px; position: absolute; background: #D9D9D9; border-radius: 10px; border: 1px black solid"></div>
                <div style="width: 329px; height: 67px; left: 170px; top: 370px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 300; line-height: 10px; word-wrap: break-word">Log in</div>
            </div>
            <div style="width: 675px; height: 776.76px; left: 243px; top: 158px; position: absolute">
                <div style="width: 290.27px; height: 43.52px; left: 10px; top: 270px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 300; word-wrap: break-word">Name</div>
                <div style="width: 675px; height: 92.61px; left: 0px; top: 0px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">Let’s Get Started!</div>
                <div style="width: 504.52px; height: 36.82px; left: 77.18px; top: 89.26px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 300; word-wrap: break-word">Signup using social networks</div>
                <div style="width: 290.27px; height: 43.52px; left: 8px; top: 368px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 300; word-wrap: break-word">Email</div>
                <div style="width: 381.27px; height: 0px; left: 126px; top: 457px; position: absolute; border: 1px black solid"></div>
                <div style="width: 381.27px; height: 0px; left: 126px; top: 350px; position: absolute; border: 1px black solid"></div>
                <div style="width: 290.27px; height: 43.52px; left: 29px; top: 471px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 300; word-wrap: break-word">Password</div>
                <div style="width: 290.27px; height: 43.52px; left: 66px; top: 578px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 300; word-wrap: break-word">Confirm Password</div>
                <div style="width: 381.27px; height: 0px; left: 128px; top: 560px; position: absolute; border: 1px black solid"></div>
                <div style="width: 381.27px; height: 0px; left: 128px; top: 661px; position: absolute; border: 1px black solid"></div>
                <div style="width: 380.12px; height: 74.76px; left: 128px; top: 702px; position: absolute; background: #05203C; border-radius: 10px"></div>
                <div style="width: 380.12px; height: 72.53px; left: 127px; top: 724px; position: absolute; text-align: center; color: white; font-size: 22px; font-family: Inter; font-weight: 300; word-wrap: break-word">Sign up</div>
                <img style="width: 55.29px; height: 53.56px; left: 251.11px; top: 143.94px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/55x54" />
                <img style="width: 55.29px; height: 53.56px; left: 359.39px; top: 143.94px; position: absolute" src="https://via.placeholder.com/55x54" />
                <div style="width: 163.57px; height: 0px; left: 142.82px; top: 233.76px; position: absolute; border: 1px black solid"></div>
                <div style="width: 163.57px; height: 0px; left: 359.38px; top: 234.93px; position: absolute; border: 1px black solid"></div>
                <div style="width: 34.56px; height: 34.59px; left: 317.92px; top: 219.81px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Inter; font-weight: 300; word-wrap: break-word">OR</div>
            </div>
        </div>
        <div style="width: 382px; height: 41px; left: 370px; top: 459px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 382px; height: 41px; left: 371px; top: 652px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 382px; height: 41px; left: 381px; top: 780px; position: absolute; background: #D9D9D9"></div>
    </div>
</body>
</html>